/* 


STYLE:

#be3a31 : red
#0e3f3d : green
#f1d160 : yellow
#efe8cc : cream


. = class
# = id


*/


/* fonts */

@font-face {
    font-family: 'bernoru';
    src: url(FONTS/bernoru-blackultraexpanded.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'postercut';
    src: url(FONTS/postercut.otf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'postercut-italics';
    src: url(FONTS/postercutitalics.otf) format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'roboto-mono';
    src: url(FONTS/RobotoMono-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-mono-italics';
    src: url(FONTS/RobotoMono-Italic-VariableFont_wght.ttf) format('truetype');
    font-weight: normal;
    font-style: italic;
}







/* nav bar */
    .mainnav {
        display: flex;
        align-items: center;
        position: fixed;
        justify-content: space-between;


        padding: 15px 30px;
        z-index: 1000;
        margin-top: 14px;
        width: 100%;

    }

    .mainnav ul {
        display: flex;
        list-style: none;
        gap: 60px;
    }

        .mainnav a {
            text-decoration: none;
            font-family: 'roboto-mono', monospace;
            font-size: 25px;
            transition: color 0.5s ease;
        }

        .navlogo img {
            height: 80px;
            width: 80px;
            display: block;

            border-radius: 15%;
        }

        .navlogo {
            margin-left: 0;
            margin-right: 60px;
        }

    
    /* index nav */
        #homeheader a {
            color: #be3a31;
        }

        #homeheader a:hover {
            color: #0e3f3d;
        }

    /* menu nav */

        #menuheader a {
            color: #be3a31;
        }

        #menuheader a:hover{
            color: #f1d160;
        }






/* body and html */
    body {
        background-color: #efe8cc;

        max-width: 1440px;
        margin: 0 auto;
        padding: 0;

        width: 100%;
        max-width: 100vw;
        height: auto;
    }


/* images and vid */
    img, video {
        width: 100%;
    }

/* buttons */

    .button {
        font-family: 'roboto-mono';
        text-decoration: none;
        text-align: center;

        background-color: #f1d160;
        color: #0e3f3d;

        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 40px;
        padding-right: 40px;

        border-radius: 20px;
        cursor: pointer;

        transition: all 0.3s ease;                         
    }

    .button:hover {
        background-color: #0e3f3d;
        color: #f1d160;
    }

/* index */

        #homegrid {
        display: grid;
        grid-template-columns: 1fr; /* one column layout */
        gap: 4rem;
        width: 100%;
        }

        #welcome,
        #welcomescroll,
        #homeorder {
        position: relative;
        padding: 4rem 2rem;
        }

        #welcome h1,
        #welcomescroll h1, 
        #homeorder h1 {
            font-family: 'bernoru';
        }

            /* welcome section */
                #welcome h1 {
                    color: #0e3f3d;
                    font-size: 110px;
                    letter-spacing: 0;
                    text-align: left;
                }

                .landing-title {
                    position: relative;
                    z-index: 1;
                }

                    .landing-img {
                        max-width: 900px;
                        height: auto;
                        position: absolute;
                        z-index: 0;
                    }

                #welcome img {
                    width: 900px;
                    height: 530px;
                    object-fit: cover;
                    top: 20px;
                    left: 550px;
                    opacity: 0.8;
                }

                #welcome {
                    margin-top: 160px;
                    margin-bottom: 200px;
                }

            /* welcomescroll section */
                #welcomescroll h1 {
                    color: #0e3f3d;
                    font-size: 110px;
                    letter-spacing: 0;
                    text-align: right;
                }

                #welcomescroll img {
                    width: 800px;
                    height: 500px;
                    object-fit: cover;
                    bottom: 10px;
                    opacity: 0.8;
                }

                #welcomescroll {
                    margin-bottom: 200px;

                }
        
            /* foodpreview section */


                /* change color only when in food preview section */
                body.food-preview-active .mainnav a {
                    color: #efe8cc; 
                }

                body.food-preview-active .mainnav a:hover {
                    color: #f1d160; 
                }

                #foodpreview {
                    position: relative;
                    background-color: #be3a31;
                    min-height: 170vh;
                    padding-top: 80px;
                    padding-bottom: 80px;

                    overflow-x: hidden;
                }

                #foodpreview img {
                    position: relative;
                }


                    #food1 img {
                        width: 500px;
                        height: 500px;
                        object-fit: cover;

                        position: absolute;
                        top: 130px; left: 140px;
                    }

                    #food2 img {
                        width: 600px;
                        height: 400px;
                        object-fit: cover;

                        position: absolute;
                        top: 80px; left: 800px;
                        
                        border: #f1d160 solid 10px;
                        border-radius: 50% / 50%;
                    }

                    #food3 img {
                        width: 600px;
                        height: 400px;
                        object-fit: cover;

                        position: absolute;
                        top: 480px; left: 520px;
                    }


                    #food5 img {
                        width: 600px;
                        height: 600px;
                        object-fit: cover;

                        position: absolute;
                        top: 550px; left: 1200px;
                    }

                    #food6 img {
                        width: 300px;
                        height: 450px;
                        object-fit: cover;

                        position: absolute;
                        top: 680px; left: 100px;

                        border: #3538c0 solid 10px;
                    }

                    #food7 img {
                        width: 300px;
                        height: 500px;
                        object-fit: cover;

                        position: absolute;
                        top: 840px; left: 500px;
                    }


                    #food8 img {
                        width: 350px;
                        height: 350px;
                        object-fit: cover;

                        position: absolute;
                        top: 1140px; left: 100px;
                    }


                    #food9 img {
                        width: 500px;
                        height: 300px;
                        object-fit: cover;

                        position: absolute;
                        top: 1100px; left: 850px;

                        border: #35c05f solid 10px;
                        border-radius: 10%;
                    }


                .label {
                position: absolute;
                font-family: 'roboto-mono';
                }

                /* label placements */

                /* yellow rectangle */
                .label1 {
                    background-color: #f1d160;
                    top: 600px; left: 1200px;
                    
                    padding: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 20px;
                    transform: rotate(-10deg);
                }


                /* dark green oval */
                .label2 { 
                    background-color: #0e3f3d;
                    color: #fff;
                    padding: 40px;
                    border-radius: 50%;
                    top: 180px; left: 100px;
                    transform: rotate(-10deg);
 
                
                }

                /* cream circle */
                .label3 { 
                    background-color: #efe8cc;
                    padding: 50px;
                    font-size: 20px;
                    border-radius: 50%;
                    text-align: center;
                    transform: rotate(-10deg);
                    top: 1200px; left: 1350px; 
                }

                /* yellow text */
                .labe14 { 
                    font-weight: bold;
                    font-size: 50px;
                    color: #f1d160;

                    transform: rotate(270deg);

                    top: 740px; left: -80px; 
                }

                /* blue text */
                .labe15 { 
                    font-weight: bold;
                    font-size: 50px;
                    color: #3538c0;

                    top: 400px; left: 1330px; 
                }

                /* green rounded rectangle */
                .labe16 { 
                    font-size: 20px;
                    padding: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    border-radius: 7%;

                    background-color: #35c05f;

                    transform: rotate(8deg);
                    top: 440px; left: 590px; 
                }

                /* cream text */
                .labe17 { 
                    font-weight: bold;
                    font-size: 50px;
                    color: #efe8cc;

                    top: 970px; left: 770px; 
                }

                /* dark green rectangle */
                .label8 {
                    background-color: #0e3f3d;
                    color: #fff;
                    top: 1200px; left: 330px;
                    
                    padding: 20px;
                    padding-left: 30px;
                    padding-right: 30px;
                    font-size: 20px;
                    transform: rotate(10deg);
                }


            /* homeorder section */

                #homeorder {
                    margin-top: 60px;
                    margin-bottom: 100px;
                }
                
                #homeorder h1 {
                    color: #0e3f3d;
                    font-size: 110px;
                    letter-spacing: 0;
                    text-align: left;
                    z-index: 1;
                    padding-bottom: 0;
                    margin-bottom: 0;
                }

                #homeorder h2 {
                    color: #be3a31;

                    font-family: 'roboto-mono';
                    font-weight: normal;
                    font-size: 40px;

                    padding-top: 0;
                    padding-left: 30px;
                }

                #homeorder h3 {
                    color: #0e3f3d;

                    font-family: 'roboto-mono';
                    font-weight: normal;
                    font-size: 25px;

                    padding-left: 30px;
                    width: 40ch;
                    word-spacing: 35px;
                    line-height: 45px;
                    
                }

                #homeorder .button {
                    margin-left: 30px;
                }

                #homeorder img {
                    width: 800px;
                    height: 530px;
                    object-fit: cover;
                    top: 140px;
                    left: 750px;
                    opacity: 0.8;
                    z-index: -10;
                }


    /* menu */
                #menugrid {
                    
                }


            /* footer */

                .site-footer {
                    background-color: #0e3f3d;
                    color: #efe8cc;
                    text-align: center;
                    padding: 20px 20px;

                    font-family: 'roboto-mono';
                    font-variant: small-caps;
                    font-weight: normal;
                    font-size: 14px;
                    margin-top: 80px;
                }

                .site-footer a {
                    text-decoration: none;
                    color: #efe8cc;
                }

            